{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <div class="barra">
        <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
        <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>
    <a class="tagsbar" href="tags.html">Tags</a>
</div>  
<main class="container">
    <form class="form-card" method="POST">
        {% csrf_token %}
        <input
            class="form-card-title"
            type="text"
            name="titulo"
            placeholder="Titulo"
        />
        <textarea
            class="autoresize"
            name="detalhes"
            placeholder="Digite o conteudo..."
        ></textarea>
        <input
            class="form-card-tag"
            type="text"
            name="tag"
            placeholder="Tag"
        />
        <button class="btn" type="submit">Criar</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <div class="card-container">
            {% for note in notes %}
            <div class="card">
                <div class=card-title-container>
                    <p class="card-title" id="titulo">{{note.title}}</p>
                    <input value="X" class="x" type="submit" formaction="/delete/{{note.id}}">
                </div>
                <p id="detalhes" class="card-content">{{note.content}}</p>
                <div class="card-tag-container">
                    <p class="card-tag" id="tag">{{note.tagContent}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    <div class="container-update">
        <form class="form-card-update" method="POST">
            {% csrf_token %}
            <select class="select" name="identificador">
                <option>Selecione o Post-it para editar:</option>
                {% for note in notes %}
                <option value="{{note.id}}">{{note}}</option>
                {% endfor %}
            </select>
            <input
                class="form-card-title-update"
                type="text"
                name="titulo"
                placeholder="Novo titulo"
            />
            <textarea
                class="autoresize"
                name="detalhes"
                placeholder="Digite o novo conteudo..."
            ></textarea>
            <input
                class="form-card-tag"
                type="text"
                name="tag"
                placeholder="Tag"
            />
            <button class="btn" type="submit" formaction="/update">Update Post-it</button>
            
        </form>
    </div>

</main>
<script type="text/javascript" src="{% static 'notes/js/getit.js' %}"></script>
{% endblock %}