{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <div class="barra">
        <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
        <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>
    <a class="tagsbar" href="../tags.html">
        <img src="{% static 'notes/img/seta.png' %}" class="tagsbar" />
    </a>
</div>  
<main class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="card-container">
            {% for tag in tagsDetalhadas %}
            <div class="card">
                <div class=card-title-container>
                    <p class="card-title" id="titulo">{{tag.title}}</p>
                </div>
                <p id="detalhes" class="card-content">{{tag.content}}</p>
                <div class="card-tag-container">
                    <p class="card-tag" id="tag">{{tag.tagContent}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</main>
<script type="text/javascript" src="{% static 'notes/js/getit.js' %}"></script>
{% endblock %}